@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: grid;
    place-items: center;
    background: rgba(254, 240, 194, 0.4);
    font-family:'Mulish', sans-serif;
    text-align: center;
    color: #482b0f;
    overflow: hidden;
}

h1{
    font-size: calc(1.5rem + 2vw);
    font-variation-settings: "wght" 600, "wdth" 80;
    line-height: 1;
}
h2{
    width: 90%;
    font-size: calc(0.75rem + 2vw);
    font-variation-settings: "wght" 400 "wdth" 80;
    letter-spacing: 2px;
}
h3{
    font-size: 1.25rem;
    font-size: 400;
    color: white;
}

h4{
    font-size: calc(0.35rem + 2vw);
    font-variation-settings: "wght" 200 "wdth" 100;
}

p{
    font-size: 1.25rem;
    font-variant-position: "wght" 200 "wdth" 80;
    width: 100%;
}
article h2{
    width: 100%;
    font-style: italic;
    font-size: calc(1rem + 4vw);
    font-variation-settings: "wght" 400 "wdth" 100;
}

article p{
    max-width: 55ch;
    margin: 1rem 0 0 ;
    font-size: calc(0.75rem + 1vw);
    font-variation-settings: "wght" 400 "wdth" 100;
}

a{
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5px;
    color: #482b0f;
    transition: all 0.5s ease;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.button a{
    text-decoration: none;
}

main{
    width: 100%;
    min-height: 100vh;
    padding: 1em 0;
    display: grid;
    place-items: center;
}

.products{
    display: flex;
    justify-content: space-around;
    width: 90%;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-height: 70vh;
    padding: 1em 0;
    border-radius: 0.35em;
    overflow: hidden;
    position: relative;
}

.price{

    width: 90%;
    margin-top: 2em;
    padding: 0.5em 0 0.75em;
    border-top: 1px solid #ebc49e;
    border-bottom: 1px solid #ebc49e;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: center;
    place-items: center;
    width: 100%;
    height: 100%;
    background: rgba(239 219 154 / 0.7);
    transform: translate(-80%);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.1, 0.4, 0.8, 1);
}

article{
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://assets.codepen.io/4787486/barrel.webp");
    background-size: cover;
    text-align: left;
    color: #482b0f;
    position: relative;

}
.hidden{
    padding: 1em 2em 2em;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.75em;
}

section:hover img{
    transform: rotate(2deg);
}

section:hover .overlay{
    transform: translateY(0);
    opacity: 1;
}
.button{
    padding: 1em;
    width: 75%;
    background-color: #a3831a;
    border-radius: 0.5em;
    z-index: 1;
    border: 1px solid #482b0f;
    opacity: 0;
    transform: scale(0.5);
    transition: 0.2s cubic-bezier(0.6, 0.4, 0.8, 1) 0.17s;
    cursor: pointer;
}

button:hover i{
    animation: point 0.5s;
}

@keyframes point {
    50%{
        transform: translateX(1em);
    }
    
}

 img{
    max-height: 240px;
    margin-bottom: 2em;
    filter: drop-shadow(10px 10px 10px rgba(90, 69, 1, 1));
    transition: 0.3s ease;
 }

 .scrollToTopBtn, 
 .scrollToBottomBtn{
    display: grid;
    align-items: end;
    background: transparent;
    background-image: url("https://assets.codepen.io/4787486/whisky-in-glass.png");
    background-size: cover;
    width: 9vmin;
    height: 10vmin;
    border: none;
    transition: all 0.5s ease 0.2s;
    cursor: pointer;
 }
 
 .scrollToTopBtn{
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%) translateY(110px);
    filter: drop-shadow(0 10px 20px rgba(254, 240, 194, 1));
    opacity: 0;

 }

 .scrollToBottomBtn{
    filter: drop-shadow(5px 5px 5px rgba(90, 69, 1, 1));


 }

 .showBtn{
    opacity: 1;
	transform: translateX(-50%) translateY(0);

 }